# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# React Native / Expo
.expo/
.expo-shared/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ML
*.pkl
*.joblib

# Temporary
tmp/
temp/